@media screen and (max-width: 576px) 
{
ul{
    padding-inline-start: 0;
}
    nav
    {
    flex-direction: column;
align-items: center;
justify-content: center;
   
    }
    .main-ul
    {
        flex-direction: column;
        text-align: center;
    }
    .main-ul li
    {
        padding: 5px;
        margin-right: 0;
    }

    .info
    {
        padding-right: 0;
        text-align: center;
    }
}
